<div fxLayout="column" fxLayoutAlign="start center" class="app-background" [class.my-dark-theme]="isDarkTheme">
  <div class="app-container">
    <md-card fxFlex="30%" class="app-sidenav" fxLayout="column" fxLayoutAlign="start center">
      <img class="profile push" src="assets/img/profile.png">

      <div class="profile-name">
        <span>DAO DUC DUY</span>
      </div>
      <div class="contact-line" fxLayout="row" fxLayoutGap="5px">
        <span fxFlex="30%" class="text-1"><md-icon class="icon-1">email</md-icon></span>
        <span class="text-2">my.personal@gmail.com</span>
      </div>
      <div class="contact-line" fxLayout="row" fxLayoutGap="5px">
        <span fxFlex="30%" class="text-1"><md-icon class="icon-1">phone</md-icon></span>
        <span class="text-2">+65 8080 8080</span>
      </div>

      <!-- Skills -->
      <div class="headline">
        <span>Skills</span>
      </div>
      <div class="textline" fxLayout="row" fxLayoutGap="5px">
        <span fxFlex="30%" class="text-1">Languages:</span>
        <span class="text-2">C# , Scala , Java , C++ , Python , Bash</span>
      </div>
      <div class="textline" fxLayout="row" fxLayoutGap="5px">
        <span fxFlex="30%" class="text-1">Frontend:</span>
        <span class="text-2">Angular 4 , Material Design , Ionic , Electron</span>
      </div>
      <div class="textline" fxLayout="row" fxLayoutGap="5px">
        <span fxFlex="30%" class="text-1">Backend:</span>
        <span class="text-2">Akka / Akka.NET , REST API , Web services</span>
      </div>

      <!-- Education -->
      <div class="headline">
        <span>Education</span>
      </div>
      <div class="textline" fxLayout="row" fxLayoutGap="5px">
        <span fxFlex="30%" class="text-1">University:</span>
        <span class="text-2">Nayang Technological University ( 2010 - 2013 )</span>
      </div>
      <div class="textline" fxLayout="row" fxLayoutGap="5px">
        <span fxFlex="30%" class="text-1">Degree:</span>
        <span class="text-2">Bachelor of Engineering , Electrical & Electronic Engineering</span>
      </div>
      <div class="textline" fxLayout="row" fxLayoutGap="5px">
        <span fxFlex="30%" class="text-1">GPA:</span>
        <span class="text-2">4.5 / 5.0 ( First class )</span>
      </div>
    </md-card>
    <md-card fxFlex="70%" class="app-content">
      <md-card-content fxLayout="column" fxLayoutAlign="center center">
        <md-card-actions>
          <button md-raised-button color="primary">primary</button>
          <button md-raised-button color="accent">accent</button>
          <button md-raised-button color="warn">warn</button>
        </md-card-actions>
        <md-card-actions>
          <button md-button color="accent" (click)="isDarkTheme = !isDarkTheme">
            Switch to Dark theme
          </button>
        </md-card-actions>
      </md-card-content>
    </md-card>
  </div>
</div>